/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.fondo {
	background-color: #f1ffb5;
	background-image: url("fondo.jpg");
	
}

.oj-hybrid-applayout-header{
	background-color: #c2f5c6;
}

.relieveTitulo {
	text-shadow: 2px 2px 5px #3eff1c;
	font-size: 50px;
}
.relieveTexto {
	/* text-shadow: 2px 2px 5px yellow; */
}

.bordes {
	border-style: outset;
	}
	
.conectadoComo {
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}

.textAreaMio{
	resize: none;
}

.resaltado:hoover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.user{
	font-weight: bold;
}

.login{
	margin-top: 8px; 
	margin-bottom: 30px;
}

.boton{
	background-color: #c2ff99;
	text-align: center;
	border-radius: 12px;
	font-weight: bold;
	font-size: 15px;

}